body
            table
                tr
                    input#tagsSearch(type='text', autocomplete='off', placeholder='Введите тег и нажмите Enter', tabindex='0', name='tags', style='width: 250px;')
                    div.tt
                        input#findme(type = "button", value = "Найти")
                    input#hidden(type='hidden', data-pg = numpage, data-fls = fls)
                tr
                    .img-container#galleryblock
                        .row
                            - var mypage = numpage * 10;
                                -   for (var i = (mypage - 10); i < Math.min(fls.length, mypage); ++i){
                                    .col-md-2.col-md-2.col-md-2.thumb
                                        div.holder
                                            a.fancyimage(rel='group', href='/images/' + fls[i].name)
                                                img.rt#myimg(src='/images/' + fls[i].name, width='200px', height='200px', )
                                            div.block
                                                    button#openimage.cbutton.cbutton--effect-ivana.fourbuttons(data-img=fls[i], data-user=user)
                                                        i.fa.fa-pencil-square-o.fa-2x
                                                    a.cbutton.cbutton--effect-milan(href='/images/' + fls[i].name, download=fls[i].name)
                                                        i.fa.fa-fw.fa-save.fa-2x
                                                    button#removeImage.cbutton.cbutton--effect-tamara(data-imgid=fls[i]._id.toString(), data-imgname=fls[i].name)
                                                        i.fa.fa-fw.fa-trash-o.fa-2x
                                                    if (be)
                                                        button#addtome.cbutton.cbutton--effect-marin(data-imgid=fls[i]._id.toString(), data-userid=user._id.toString())
                                                            i.fa.fa-fw.fa-star-o.fa-2x
                                        div(align='center')
                                            a#openWebGl(href='/imageEditor?image=' + fls[i]._id.toString(), data-image=fls[i], target='_blank') Открыть в редакторе
                                -   }
                    div#pgn
                        .row
                            div.col-md-3.col-lg-3
                            div.col-md-6.col-lg-6.pgn
                                ul.pagination.pagination-centered
                                        //li
                                        //    a#prev(href='#') «

                            div.col-md-3.col-lg-3

script(type = 'text/javascript').
    $(document).ready(function () {
        var countpages = Math.ceil(($("#hidden").data('fls').length) / 10);

        if (countpages)
        {
            $(".pagination.pagination-centered").append(function () {
                return '<li><a id="prev" href="#">«</a></li>';
            })

            //рассчитываем и отображением нужное кол-во страниц
            for (var i = 1; i <= Math.min(5, countpages); ++i) {
                $(".pagination.pagination-centered").append(function(){
                    return '<li id=' + "li_" + i + '><a id="pg" href="#" name="page">1</a></li>';
                })
            }

            $(".pagination.pagination-centered").append(function () {
                return '<li><a id="next" href="#">»</a></li>';
            })

            var mas = $("a[name='page']");
            var curpage = parseInt($("#hidden").data('pg'));
            var firstpage = ((curpage - 1) / 5 >> 0) * 5;
            mas.each(function (i, obj) {
               $(obj).text(++firstpage);
            });
            var num = curpage % 5;
            if (!num)
                num = 5;
            $("ul.pagination.li.active").removeClass('active');
            $("#li_" + num).addClass('active');
            //$("#hidden").data('pg', num);
        }

        $('#tagsSearch').tokenfield({
            limit: 10,
            delay: 100
        });
        $("#tagsSearch-tokenfield").parent().css("marginLeft", "70%");
    });

script(type = 'text/javascript').
    (function () {
        var support = {animations: Modernizr.cssanimations},
                animEndEventNames = {
                    'WebkitAnimation': 'webkitAnimationEnd',
                    'OAnimation': 'oAnimationEnd',
                    'msAnimation': 'MSAnimationEnd',
                    'animation': 'animationend'
                },
                animEndEventName = animEndEventNames[Modernizr.prefixed('animation')],
                onEndAnimation = function (el, callback) {
                    var onEndCallbackFn = function (ev) {
                        if (support.animations) {
                            if (ev.target != this) return;
                            this.removeEventListener(animEndEventName, onEndCallbackFn);
                        }
                        if (callback && typeof callback === 'function') {
                            callback.call();
                        }
                    };
                    if (support.animations) {
                        el.addEventListener(animEndEventName, onEndCallbackFn);
                    }
                    else {
                        onEndCallbackFn();
                    }
                }
        var eventtype = 'click';
        [].slice.call(document.querySelectorAll('.cbutton')).forEach(function (el) {
            el.addEventListener(eventtype, function (ev) {
                classie.add(el, 'cbutton--click');
                onEndAnimation(classie.has(el, 'cbutton--complex') ? el.querySelector('.cbutton__helper') : el, function () {
                    classie.remove(el, 'cbutton--click');
                });
            });
        });
    })();