html
    head
        meta(http-equiv='content-type', content='application/xhtml+xml; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css', type='text/css', media='screen')
        link( href="/stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet")
    body
        table
            tr
                input#srch.tt(type='text', placeholder='Search', style='width:250px')
                input#findme(type = "button", style='width:60px', value = "Найти")
            tr
                .img-container#galleryblock
                    - var count = 0;
                        each item in fls
                            if count < fls.length
                                .col-md-2.col-md-2.col-md-2.thumb
                                    a.fancyimage(rel='group', href='/images/' + item.name)
                                        img.rt#myimg(src='/images/' + item.name, width='200', height='200')
                                    .caption
                                        small
                                            a#openimage(style = 'margin-left: 10px', data-img=item, data-user=user) Редактировать
                                            a    |
                                            a#downloadimg(href='/images/' + item.name, download) Скачать
                                            #user
                                            if (be)
                                                a#addtome(href='', data-imgid=item._id.toString(), data-userid=user._id.toString()) Добавить к себе
                            - count++;

