extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
                        div.signup-wall
                            ul.user-details
                                li Username ---> #{user.username}
                                li Email    ---> #{user.email}
                                li First Name ---> #{user.firstName}
                                li Last Name ---> #{user.lastName}
                        a(href='/signout', class='text-center new-account') Sign Out*/

    a#addimage.link(href='#') Добавить изображение

    #addmodal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Добавить изображение
                .modal-body
                    .form-group
                        img#image(src='', height=200, width=200)
                        li#fileName Имя файла
                        input#openimage.btn-small(type='file', name='Открыть')
                .modal-footer
                    button#addok.btn.btn-default(type='button') Добавить
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть

