extends layout

block styles
    link( href="/stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet")

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
                        div.signup-wall
                            ul.user-details
                                li Username ---> #{user.username}
                                li Email    ---> #{user.email}
                                li First Name ---> #{user.firstName}
                                li Last Name ---> #{user.lastName}

                        a(href='/signout', class='text-center new-account') Sign Out*/
    a#addimage.link(href='#') Добавить изображение

    #addmodal.modal.fade(role='dialog')
        .modal-dialog(style='width:800px;height:700px')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Добавить изображение
                .modal-body
                    .form-group
                        form(action='/addImg', method='post')
                            .col-lg-6
                                img#image(src='')
                                label Размер:
                                li#size
                                li#weight
                                input#openimage.btn-small(type='file', name='upload')
                                label Дополнительно
                                input#addinfo.form-control.input-lg(type='text' name='imginfo')
                            .row
                                .col-lg-6
                                    label Файл:
                                    input#nmDefault.form-control(type='text')
                                    label Название:
                                    input#newName.form-control(type='text' name='imgname')
                                    label Теги(Группы):
                                    input#tags.token-input(type='text', autocomplete='off', placeholder='Введите теги', tabindex='0', style='width: 370px;')
                                    label Описание
                                    textarea#descript.form-control.input-lg(rows='4' name='imgdesc')

                                    label.radio-inline
                                        input#radio1(type='radio', value ='1', checked, name='optradio')
                                        | Private
                                    label.radio-inline
                                        input#radio2(type='radio', value ='1', name='optradio')
                                        | Public
                        .modal-footer
                            button#addok.btn.btn-default(type='submit') Добавить
                            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
block scripts
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });